.MuiFormLabel-root-82.MuiFormLabel-focused-83 {
  color: #139657
}
.merchants_services .MuiNotchedOutline-focused-120 {
  border-color: rgb(19, 143, 82) !important;
}

table tr th:nth-of-type(1), table tr th:nth-of-type(2) {
  width: 156px;
}